


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

.text-content {
    grid-template-columns: 33% 33% 33%;
}

/*----------- FOOTER --------------*/
    
