$primaryColor: rgb(187,199,234);
$lighterPrimary: lighten($primaryColor, 56%);
$secondaryColor: rgb(151,152,162);
$lighterSecondary: lighten($secondaryColor, 6%);
$footerColor: rgba(255, 255, 255, 0.418);
$footerBorder: rgba(255, 255, 255, 0.74);
$primaryFont: 'Open Sans Condensed', sans-serif;